<div class="chapter">
    <h1 class="chapter-title">
      <a href="$url$">
        $title$
        <button class="btn pull-right"><a href="$download-chapter$"><i class="fa fa-download"></i> Download as Notebook</a></button>
      </a>
    </h1>
     $body$
</div>


<div class="pagination">
  $if(prev-chapter)$
    <a class="pagination-item older" href="$prev-chapter$">Previous Chapter</a>
  $else$
    <span class="pagination-item older">Previous Chapter</span>
  $endif$
  $if(next-chapter)$
      <a class="pagination-item newer" href="$next-chapter$">Next Chapter</a>
  $else$
      <span class="pagination-item newer">Next Chapter</span>
  $endif$
</div>


