<div class="chapter">
    <h1 class="chapter-title">
      <a href="$url$">
        $title$
      </a>
    </h1>
    <span class="chapter-date">$date$,
      $if(author)$
         Chaptered by $author$
      $endif$
    </span>
     $body$
</div>

$if(related_chapters)$
<div class="related">
  <h2>Related chapters</h2>
  <ul class="related-chapters">
      $for(related_chapters)$
      <li>
        <h3>
          <a href="$url$">
            $title$
            <small>$date$</small>
          </a>
        </h3>
      </li>
    $endfor$
  </ul>
</div>
$endif$
